.image-upload > input {
    visibility: hidden;
    width: 0;
    height: 0;
}

.custom-radios div {
    display: inline-block;
}

.custom-radios input[type='radio'] {
    display: none;
}

.custom-radios input[type='radio'] + label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.custom-radios input[type='radio'] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 38px;
}

.custom-radios input[type='color'] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border-style: solid;
    border-color: #dfe3eb;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.custom-radios input[type='color'] + label span img {
    margin-top: 5px;
    margin-left: 4px;
}
.custom-radios input[type='radio'] + label span img {
    opacity: 0;
    transition: all 0.3s ease;
}
.custom-radios input[type='radio']#color-1 + label span {
    background-color: #1a67cd;
}
.custom-radios input[type='radio']#color-2 + label span {
    background-color: #048991;
}
.custom-radios input[type='radio']#color-3 + label span {
    background-color: #ad1165;
}
.custom-radios input[type='radio']#color-4 + label span {
    background-color: #354a5f;
}
.custom-radios input[type='radio']#color-5 + label span {
    background-color: #613cd5;
}
.custom-radios input[type='color']#color-6 + label span img {
    opacity: 1;
}
.custom-radios input[type='radio']:checked + label span img {
    opacity: 1;
}
.custom-radio {
    margin-right: 3px;
}

.help {
    position: relative;
    width: 218px;
    height: 36px;
    left: 40px;
    font-style: normal;
    line-height: 36px;
}

.customize-look {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

/* for mobile */
@media only screen and (max-width: 600px) {
    .card-body-step3 {
        padding-top: 0px;
    }
    .card-footer-button {
        padding: 0px;
        height: 70%;
    }
}

/* for other devices */
@media only screen and (min-width: 600px) {
    .card-body-step3 {
        padding-top: 60px;
    }
    .preview {
        display: none;
    }
}
