.image-upload > input {
    visibility: hidden;
    width: 0;
    height: 0;
}

.custom-radios div {
    display: inline-block;
}

.custom-radios input[type='radio'] {
    display: none;
}

.custom-radios input[type='radio'] + label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.custom-radios input[type='radio'] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 38px;
}
.custom-radios input[type='color'] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33); */
    border-style: solid;
    border-color: #dfe3eb;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    /* line-height: 35px; */
}
.custom-radios input[type='color'] + label span img {
    margin-top: 5px;
    margin-left: 4px;
}
.custom-radios input[type='radio'] + label span img {
    opacity: 0;
    transition: all 0.3s ease;
}
.custom-radios input[type='radio']#color-1 + label span {
    background-color: #1a67cd;
}
.custom-radios input[type='radio']#color-2 + label span {
    background-color: #048991;
}
.custom-radios input[type='radio']#color-3 + label span {
    background-color: #ad1165;
}
.custom-radios input[type='radio']#color-4 + label span {
    background-color: #354a5f;
}
.custom-radios input[type='radio']#color-5 + label span {
    background-color: #613cd5;
}
.custom-radios input[type='color']#color-6 + label span img {
    opacity: 1;
}
.custom-radios input[type='radio']:checked + label span img {
    opacity: 1;
}
.custom-radio {
    margin-right: 3px;
}

.hello {
    position: relative;
    width: 218px;
    height: 36px;
    left: 40px;
    top: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

.help {
    position: relative;
    width: 218px;
    height: 36px;
    left: 40px;
    /* top: 40px; */
    font-style: normal;
    line-height: 36px;
}

.dropend {
    position: relative;
    width: 355px;
    left: -30px;
    top: 20px;
    font-style: normal;
    line-height: 36px;
}

.custom-button {
    position: relative;
    width: 355px;
    left: -18px;
    top: 0px;
    font-style: normal;
    line-height: 66px;
    -webkit-box-shadow: 0 12% 6px -6px black;
    -moz-box-shadow: 0 12% 6px -6px black;
    box-shadow: 0 12% 6px -6px black;
}

.custom-button-logo {
    float: left;
    width: 15%;
    padding-left: 20px;
}

.custom-button-name {
    float: left;
    width: 70%;
    padding-left: 10px;
}

.custom-button-arrow {
    text-align: right;
    padding-right: 20px;
    float: left;
    width: 15%;
}

.sectionCard2 {
    /* width: 375px; */
    height: 271px;
    background-color: #f5f5f5;
    -moz-box-shadow: 3px 3px 6px -6px #000000;
    -webkit-box-shadow: 3px 3px 6px -6px #000000;
    box-shadow: 3px 3px 6px -6px #000000;
}

.sectionCard3 {
    /* width: 375px; */
    text-align: center;
    -moz-box-shadow: 3px 3px 6px -6px #000000;
    -webkit-box-shadow: 3px 3px 6px -6px #000000;
    box-shadow: 3px 3px 6px -6px #000000;
}

@media only screen and (max-width: 600px) {
    /* .sectionCard1 {
        background: #05848b;
        margin: 0px !important;
        width: 100%;
        height: 271px;
        left: 0px;
        top: 0px;
        color: white;
    } */

    .sectionCard2 {
        margin: 0px !important;
        width: 100%;
    }
    .sectionCard3 {
        margin: 0px !important;
        /* width: 100%; */
    }

    .custom-button {
        position: relative;
        width: 400px;
        left: 0px;
        top: 0px;
        font-style: normal;
        line-height: 66px;
        -webkit-box-shadow: 0 12% 6px -6px black;
        -moz-box-shadow: 0 12% 6px -6px black;
        box-shadow: 0 12% 6px -6px black;
    }

    .custom-button-logo {
        float: left;
        width: 15%;
        padding-left: 20px;
    }

    .custom-button-name {
        float: left;
        width: 70%;
        padding-left: 10px;
    }

    .custom-button-arrow {
        text-align: right;
        padding-right: 20px;
        float: left;
        width: 15%;
    }
    .custom-details {
        position: relative;
        width: 355px;
        /* left: 0px;
        top: 55px; */
        font-style: normal;
        font-size: 45px;
        line-height: 66px;
    }

    .custom-details .custom-button-name {
        float: left;
        width: 85%;
        padding-left: 20px;
    }

    .custom-details .custom-button-arrow {
        text-align: right;
        padding-right: 20px;
        float: left;
        width: 15%;
    }
    /* .sectionCard1 .logoo {
        position: relative;
        width: auto;
        height: 36px;
        left: 40px;
        top: 0px;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
    } */
}
.customize-look {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
@media only screen and (min-width: 600px) {
    .card-body-step3 {
        /* margin-right: 80px;
        margin-left: 80px; */
        margin-top: 60px;
    }
    .preview {
        display: none;
    }

    .custom-details {
        position: relative;
        width: 355px;
        left: -18px;
        top: 20px;
        font-style: normal;
        font-size: 15px;
        line-height: 66px;
    }

    .custom-details .custom-button-name {
        float: left;
        width: 85%;
        padding-left: 20px;
    }

    .custom-details .custom-button-arrow {
        text-align: right;
        padding-right: 20px;
        float: left;
        width: 15%;
    }
    .sectionCard1 {
        /* width: 375px; */
        height: 271px;
        left: 0px;
        top: 0px;
        color: white;
        background: #1a6cd9;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .sectionCard1 .logoo {
        position: relative;
        width: 218px;
        height: 36px;
        left: 40px;
        top: 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
    }
}
